@media screen and (max-width: 992px) {

    .swiper-text {
        width: 60%;
        left: 20%;
    }

    #text-div, #image-div {
        position: static;
        width: 100%;
    }

    #text-div {
        padding: 50px 100px;
    }

    #image-div {
        height: 80%;
    }

}