@media screen and (max-width: 992px) {

    #logo, #menu, #lang {
        display: none !important;
    }

    /*--------------------------------------------------------------------------------------------------- LOGO MOBILE */

    #logo-mobile {
        position: fixed;
        top: 0;
        left: 40%;
        width: 20%;
        height: 55px;
        z-index: 2;
    }

    #logo-mobile img {
        display: block;
        width: 55px;
        height: 55px;
    }

    /*--------------------------------------------------------------------------------------------------- MENU MOBILE */

    #menu-mobile {
        position: fixed;
        display: block;
        width: 100%;
        background-color: #ffc107 !important;
        z-index: 1;
    }

    #menu-mobile .btn:focus, #lang-mobile .btn:focus {
        box-shadow: 0 0 0 0.2rem #ebb115;
    }

    #menu-mobile .navbar-toggler {
        border-color: #fff;
    }

    #menu-mobile .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }

    #menu-mobile li.active {
        padding-left: 8px;
        background-color: #ebb115;
    }

    #menu-mobile .nav-link {
        color: #fff !important;
        font-size: 18px;
        font-family: 'Titillium Web', sans-serif;
        font-weight: bold;
    }

    /*--------------------------------------------------------------------------------------------------- LANG MOBILE */

    #lang-mobile {
        position: fixed;
        top: 7px;
        right: 10px;
        display: block;
        font-size: 18px;
        font-family: 'Titillium Web', sans-serif;
        z-index: 2;
    }

    #dropdownMenuButton {
        color: #fff;
        background-color: #ffc107;
        border-color: #fff;
        font-size: 18px;
        font-family: 'Titillium Web', sans-serif;
    }

    #lang-mobile .dropdown-menu {
        background-color: #ffc107;
        border-color: #fff;
    }

    #lang-mobile .dropdown-item {
        color: #fff;
        font-size: 18px;
        font-family: 'Titillium Web', sans-serif;
        font-weight: bold;
    }

    #lang-mobile .dropdown-item:hover {
        color: #fff;
        background-color: #ffc107;
    }

    /*-------------------------------------------------------------------------------------------------------- SWIPER */

    .swiper-text {
        width: 60%;
        left: 20%;
    }

    /*---------------------------------------------------------------------------------------------- SUBPAGES CONTENT */

    #text-div, #image-div {
        position: static;
        width: 100%;
    }

    #text-div {
        padding: 50px 100px;
    }

    #image-div {
        height: 80%;
    }

}