html, body {
    position: relative;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    color: #000;
    background: #fff;
    font-size: 14px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

#logo-mobile, #logo-mobile img, #menu-mobile, #lang-mobile {
    display: none;
}

/*-------------------------------------------------------------------------------------------------------------- LOGO */

#logo {
    position: fixed;
    top: 25px;
    left: 10%;
    width: 80%;
    height: 75px;
    z-index: 1;
}

#logo img {
    width: auto;
    height: 100%;
}

/*------------------------------------------------------------------------------------------------------- MENU & LANG */

#menu, #lang {
    position: fixed;
    width: 47px;
    height: 100%;
    z-index: 1;
}

#menu {
    left: 5px;
}

#lang {
    right: 5px;
}

#menu a, #lang a {
    display: block;
    width: 47px;
    height: 47px;
    background-position: center right;
    overflow: hidden;
}

#menu a {
    margin-top: 7px;
}

#menu a:nth-child(1) {
    margin-top: 0;
    background-image: url("../img/home.png");
}

#menu a:nth-child(2) {
    background-image: url("../img/aboutus.png");
}

#menu a:nth-child(3) {
    background-image: url("../img/airplane.png");
}

#menu a:nth-child(4) {
    background-image: url("../img/iletter.png");
}

#menu a:nth-child(5) {
    background-image: url("../img/postcard.png");
}

#lang a:nth-child(1) {
    margin-bottom: 14px;
    background-image: url("../img/eng.png");
}

#lang a:nth-child(2) {
    background-image: url("../img/pl.png");
}

#menu a:hover, #lang a:hover {
    background-position: center left;
}

#menu a.active, #lang a.active {
    background-position: center left;
}

/*------------------------------------------------------------------------------------------------------------ SWIPER */

#swiper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    background: #fff;
    font-size: 18px;
    text-align: center;
}

.swiper-image, .swiper-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
}

.swiper-image-1 {
    background-image: url("../img/swiper1.jpg");
}

.swiper-image-2 {
    background-image: url("../img/swiper2.jpg");
}

.swiper-image-3 {
    background-image: url("../img/swiper3.jpg");
}

.swiper-text {
    top: 130px;
    left: 30%;
    width: 40%;
}

#swiper h1, #swiper h2, #text-div h1, #text-div h2 { /*------------- "#text-div h1, #text-div h2" from PAGES*/
    font-weight: bold;
}

#swiper h1 {
    margin-bottom: 0;
    color: #fff;
    font-size: 25px;
    font-family: 'Titillium Web', sans-serif;
}

#swiper h2, #text-div h2 { /*----------------------------------------------------- "#text-div h2" from PAGES*/
    margin: 0 0 25px;
    padding: 0;
    color: #ebb115;
    font-size: 18px;
    font-family: 'Titillium Web', sans-serif;
}

#swiper p {
    color: #fff;
    font-size: 14px;
    font-family: 'Titillium Web', sans-serif;
}

.swiper-button-next {
    right: 40%;
    background-image: url('../img/arrowright.png');
}

.swiper-button-prev {
    left: 40%;
    background-image: url('../img/arrowleft.png');
}

.swiper-button-next, .swiper-button-prev {
    top: auto;
    bottom: 5%;
    width: 47px;
    height: 47px;
    background-size: contain;
}

#swiper .swiper-container .swiper-pagination {
    top: auto;
    bottom: 5%;
    height: 47px;
}

#swiper .swiper-container .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    margin-top: 18px;
    background: #ebb115;
}

/*------------------------------------------------------------------------------------------------------------- PAGES */

#image-div {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-size: cover;
}

.image-div-1 {
    background-image: url('../img/page1.jpg');
}

.image-div-2 {
    background-image: url('../img/page2.jpg');
}

.image-div-3 {
    background-image: url('../img/page3.jpg');
}

.image-div-4 {
    background-image: url('../img/page4.jpg');
}

#text-div {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    width: 50%;
    min-height: 100%;
    padding: 100px 200px 200px 50px;
}

.text-box {
    width: auto;
    height: auto;
    margin: auto;
}

#text-div h1 {
    margin: 0;
    padding: 0;
    color: #666;
    font-size: 25px;
    font-family: 'Titillium Web', sans-serif;
}

#text-div p, #text-div ul {
    color: #666;
    font-size: 14px;
    font-family: 'Titillium Web', sans-serif;
}

#text-div ul {
    padding-left: 1.4em;
    list-style: none;
}

#text-div ul li {
    color: #666;
}

#text-div ul li::before {
    content: "";
    position: relative;
    top: -2px;
    display: inline-block;
    width: 5px;
    height: 5px;
    margin-right: 10px;
    margin-left: -16px;
    background: #f7b607;
    border-radius: 50%;
}